body {
    margin: 0;
    background-color: #f8f8f8;
    color: #212427
}

h1 {
    width: fit-content;
    margin: auto;
}

.caixa {
    border-radius: 5px;
}

.pai {
    width: 80%;
    height: 350px;
    margin: auto;
    background-color: antiquewhite;
    border: solid 2px #212427;

    display: flex; 
    align-items: flex-start;
    flex-direction: row; /*Deixa separado em linhas*/
}

.filho {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    text-align: center;
}

.cor1 {
    background-color: #ED145B;
    align-self: flex-start; /*Alinha a div para o "ínicio"*/
    order: 1; /* define a ordem da div */
}

.cor2 {
    background-color: #63B1BC;
    align-self: flex-end; /*Alinha a div para o "final"*/
    order: 3; /* define a ordem da div */
} 

.cor3 {
    background-color: #EFB661;
    align-self: center; /*Alinha a div para o "meio"*/
    order: 2; /* define a ordem da div */
}

.instrucoes {
    width: 80%;
    margin: auto;
    text-align: left;
}

.footer {
    background-color: antiquewhite;
    height: 130px;
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
}

img {
    width: 20%;
}